.vercel
vercel.json
# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
.pnpm/
.pnpm-debug.log

# Environment variables
.env

# Output of 'npm pack'
*.tgz

# Yarn
yarn-error.log
yarn.lock

# dotenv environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Visual Studio Code
.vscode/

# Sublime Text
.sublime-project
.sublime-workspace

# IntelliJ
.idea/

# npm
*.bak
*.backup
*.swp
*~.nvmrc
